<form method="post" action="{{ path('dezull_help_topic_update_sequences', {categoryId: categoryId }) }}">
    <table class="records_list">
        <thead>
            <tr>
                <th><input type="submit" name="submit" value="Save Order" /></th>
                <th>Topic</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
                <tr class="{{ loop.index is odd ? "odd" : "even" }}">
                    <td class="alignCenter">
                        <input type="text" name="sequence[{{ topic.id }}]" class="narrowWidth" value="{{ topic.sequence }}" />
                    </td>
                    <td><a href="{{ path('dezull_help_topic_show', { id: topic.id }) }}">{{ topic.title }}</a></td>
                    <td><a href="{{ path('dezull_help_topic_edit', { id: topic.id }) }}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
