{% extends "DezullHelpBundle::admin_layout.html.twig" %}

{% block content %}

<h1>Edit Topic</h1>

<div id="actionBar">
    <form action="{{ path('dezull_help_topic_delete', { 'id': entity.id,  }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button onclick="return confirm('Delete this category?')" type="submit">Delete</button>
    </form>
    <div class="clear"></div>
</div>

<div id="contentInner">
    <div>
        <a class="middle" href="{{ path('dezull_help_category_edit', { id: entity.category.id }) }}">Back to the list</a>
    </div>

    <form id="topicForm" action="{{ path('dezull_help_topic_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <div class="clear"></div>
        <button type="submit">Update</button>
    </form>
</div>

{% endblock %}
