{% extends "DezullHelpBundle::admin_layout.html.twig" %}

{% block content %}

<h1>{{ entity.title }}</h1>

<div id="actionBar">
    <form action="{{ path('dezull_help_topic_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete this topic</button>
    </form>
    <div class="clear"></div>
</div>

<div id="contentInner">
    <div>
        <a href="{{ path('dezull_help_topic_edit', { 'id': entity.id }) }}">Edit</a>
        <span class="separator"></span>
        <a href="{{ path('dezull_help_category_edit', { id: entity.category.id }) }}">Back to the list</a>
    </div>

    <div class="topicContent">
        {{ entity.content|raw }}
    </div>
</div>

{% endblock %}
