{% extends "DezullHelpBundle::admin_layout.html.twig" %}

{% block content %}

<h1>{{ topic.title }}</h1>

<div id="actionBar">
    <form action="{{ path('dezull_help_topic_delete', { 'id': topic.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button onclick="return confirm('Delete this category?')" type="submit">Delete</button>
    </form>
    <div class="clear"></div>
</div>

<div id="contentInner">
    <div>
        <a href="{{ path('dezull_help_topic_edit', { 'id': topic.id }) }}">Edit</a>
        <span class="separator"></span>
        <a href="{{ path('dezull_help_category_edit', { id: topic.category.id }) }}">Back to the list</a>
    </div>

    <div class="topicContent">
        {{ topic.content|raw }}
    </div>
</div>

{% endblock %}
