{% extends "DezullHelpBundle::admin_layout.html.twig" %}

{% block content %}
<h1>Categories</h1>

<div id="actionBar">
    <form action="{{ path('dezull_help_category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_rest(form) }}
        <button type="submit">Create new category</button>
    </form>        
    <div class="clear formErrors">
        {{ form_errors(form.name) }}
    </div>
    <div class="clear"></div>
</div>

<div id="contentInner">
    <form method="post" action="{{ path('dezull_help_category_update_sequences') }}">
        <table class="records_list">
            <thead>
                <tr>
                    <th><input type="submit" name="submit" value="Save Order" /></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr class="{{ loop.index is odd ? "odd" : "even" }}">
                    <td class="alignCenter">
                        <input type="text" name="sequence[{{ entity.id }}]" class="narrowWidth" value="{{ entity.sequence }}" />
                    </td>
                    <td><a href="{{ path('dezull_help_category_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% endblock %}
