{% extends "DezullHelpBundle::admin_layout.html.twig" %}

{% block content %}
<h1>Categories</h1>

<div id="actionBar">
    <form action="{{ path('dezull_help_category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button type="submit">Create new category</button>
    </form>        
    <div class="clear"></div>
</div>

<div id="contentInner">
    <table class="records_list">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{{ loop.index is odd ? "odd" : "even" }}">
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('dezull_help_category_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
